@model FinanceProject_WebApp_1_1.Models.Tickers

@using (Html.BeginForm("Edit", "Ticker", FormMethod.Post))
{

    <div class="container p-4 border">
        <div class="row pb-2">
            <div class="col">
                <h1 class="text-primary">Edit Stock</h1>
            </div>
        </div>

        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(m=>m.Ticker, "Ticker Symbol") :
                    <br />
                    @Html.TextBoxFor(m=>m.Ticker,  new { @readonly = "readonly" , @disabled = "disabled", @class = "form-control"})
                    @Html.HiddenFor(m=>m.Ticker)
                </td>
                <td>
                 
                    @Html.LabelFor(m =>m.Currency_Name, "Currency") :
                    <br />
                    @Html.DropDownList("Currency_Name", new List<SelectListItem> {
                        new SelectListItem {Text = "USD", Value="USD"},
                        new SelectListItem {Text = "INR", Value="INR"},
                        new SelectListItem {Text = "CAD", Value="CAD"},
                        }, "Select Currency", new {@class = "form-control"})
                </td>
                <td>

                    @Html.LabelFor(m=>m.Composite_Figi, "Composite Figi") :
                    <br />
                    @Html.TextBoxFor(m=>m.Composite_Figi, new {@class = "form-control", type = "number"})
                </td>
                <td>
                    @Html.LabelFor(m=>m.Active, "isActive") :
                    <br />
                    @Html.CheckBoxFor(m=>m.Active)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m=>m.Locale) :
                    <br />
                    @Html.TextBoxFor(m=>m.Locale, new {@class = "form-control"})
                </td>
                <td>
                    @Html.LabelFor(m=>m.Market) :
                    <br />
                    @Html.TextBoxFor(m=>m.Market, new {@class = "form-control"})
                </td>
                <td>
                    @Html.LabelFor(m=>m.Cik) :
                    <br />
                    @Html.TextBoxFor(m=>m.Cik, new {@class = "form-control", type = "number"})
                </td>
                <td>
                    @Html.LabelFor(m=>m.Primary_Exchange, "Primary Exchange") :
                    <br />
                    @Html.TextBoxFor(m=>m.Primary_Exchange, new {@class = "form-control"})
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m=>m.Share_Class_Figi, "Share Class Figi") :
                    <br />
                    @Html.TextBoxFor(m=>m.Share_Class_Figi, new {@class = "form-control", type = "number"})
                </td>
                <td>
                    @Html.LabelFor(m=>m.Type) :
                    <br />
                    @Html.TextBoxFor(m=>m.Type, new {@class = "form-control"})
                </td>
                <td colspan="2">
                    @Html.LabelFor(m=>m.Name, "Company Name") :
                    <br />
                    @Html.TextBoxFor(m=>m.Name, new {@class = "form-control",  required = "required"})
                </td>

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Save" class="btn btn-success form-control" />
                </td>
                <td>
                    <a class="btn btn-primary form-control" asp-action="Index">Cancel</a>
                </td>
                <td colspan="2"></td>
            </tr>

        </table>

    </div>
}